{% extends 'base.html' %}

{% block title %}Список авторов{% endblock %}

{% block links %}

    <div class="d-flex justify-content-between align-items-center bg-warning">
        <div class="mx-2 my-2 h5 font-weight-bold">Привет, 
            {% if github_url %}
            <a class="text-primary" href="{{ github_url }}">{{ user }}</a>!
            {% elif user.is_superuser %}
            <a class="text-primary" href="/admin/">{{ user }}</a>!
            {% else %}
            <span class="text-primary">{{ user }}</span>!
            {% endif %}
            <a class="text-secondary" href="{%url 'p_library:user_edit'%}"><img src="/media/icon/settings.ico" alt=""></a>
        </div>
        <a class="btn btn-secondary mx-2 my-2" href="{%url 'p_library:logout'%}">Выход из библиотеки</a>
    </div>
    <div class="text-secondary text-center font-weight-bold my-3">
        <a class="text-secondary text-decoration-none" href="{%url 'p_library:book_list'%}">Книги</a> | 
        <a class="text-secondary text-decoration-none" href="{%url 'p_library:library'%}">Библиотека</a> | 
        <a class="text-secondary text-decoration-none" href="{%url 'p_library:publisher_list'%}">Издательства</a> | 
        <a class="text-secondary text-decoration-none" href="{%url 'p_library:friend_list'%}">Друзья</a>
    </div>

{% endblock %}

{% block title_h2 %}Список авторов книг:{% endblock %}

{% block content %}

    <table class="table table-dark table-stripped table-hover">
        {% for author in authors %}
        <tr class="table-bordered">
            <td style="width:20px;">{{ forloop.counter }}</td>
            <td>{{ author.full_name }}</td>
            <td style="width:20px;text-align:right;"><a class="btn btn-warning" href="{%url 'p_library:author_update' author.id %}">Изменить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-success my-3" href="{%url 'p_library:author_create'%}">Добавить автора</a>

{% endblock %}