{% extends 'base.html' %}

{% block title %}Издательства{% endblock %}

{% block links %}

    <div class="d-flex justify-content-between align-items-center bg-warning"><div class="mx-2 my-2 h5 font-weight-bold">Привет, <span class="text-primary">{{ user }}</span>!</div><a class="btn btn-secondary mx-2 my-2" href="{%url 'p_library:logout'%}">Выход из библиотеки</a></div>
	<div class="text-secondary text-center font-weight-bold my-3">
	    <a class="text-secondary text-decoration-none" href="{%url 'p_library:book_list'%}">Книги</a> | 
	    <a class="text-secondary text-decoration-none" href="{%url 'p_library:library'%}">Библиотека</a> | 
	    <a class="text-secondary text-decoration-none" href="{%url 'p_library:author_list'%}">Авторы</a> | 
	    <a class="text-secondary text-decoration-none" href="{%url 'p_library:friend_list'%}">Друзья</a>
	</div>

{% endblock %}

{% block title_h2 %}Список издательств:{% endblock %}

{% block content %}

    {% for publisher in publishers %}
        <ul class="list-group font-weight-bold">
            <li class="list-group-item list-group-item-dark my-3">
                {{ publisher.name }}
                <ul class="list-group">
                    {% for book in publisher.books.all %}
                        <li class="list-group-item list-group-item-secondary"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
                <div style="margin-top:10px;text-align:right;"><a class="btn btn-warning" href="{%url 'p_library:publisher_update' publisher.id %}">Изменить</a></div>
            </li>
        </ul>
    {% endfor %}
    <a class="btn btn-success my-3" href="{%url 'p_library:publisher_create'%}">Добавить издательство</a>

{% endblock %}